@{
    ViewBag.Title = "Contact";
}

<br>
<h3>Contact Us</h3>
<hr>

<h5><strong>Maersk Line Headquarters office</strong></h5>
<address>
    Esplanaden 50<br />
    1098 Copenhagen K<br />
    Denmark<br />
</address>
<address>
    <strong>Telephone: </strong> +60 12 34 98 64<br />
    <strong>Telefax: </strong>+60 12 34 97 65
</address>